@using Template.Contract

<EditForm FormName="StatusForm" Model="@_model" OnSubmit="@HandleSubmitAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="mb-3">
        <label for="Value" class="form-label">Value</label>
        <InputText class="form-control" type="text" id="Value"
                   @bind-Value="_model.Value"/>
        <ValidationMessage For="() => _model.Value" />
    </div>
    <div class="mb-3">
        <label for="Description" class="form-label">Description</label>
        <InputText class="form-control" type="text" id="Description"
                   @bind-Value="_model.Description"/>
        <ValidationMessage For="() => _model.Description" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</EditForm>

@code {
    [Parameter]
    public Status? InputModel { get; set; }

    [Parameter]
    public EventCallback<Status> OnValidSubmit { get; set; }

    [Parameter]
    public EventCallback<string?> OnValidationFailed { get; set; }

    private Status _model = null!;

    private bool _isCreate = false;

    protected override void OnInitialized()
    {
        InitializeModel();
    }

    protected override void OnParametersSet()
    {
        InitializeModel();
    }

    private void InitializeModel()
    {
        _isCreate = InputModel is null;
        
        _model ??= InputModel ?? new Status
        {
            Value = string.Empty,
            TimeStamp = DateTime.UtcNow
        };
    }

    private async Task HandleSubmitAsync(EditContext context)
    {
        var isValid = context.Validate();

        if (isValid)
        {
            if (await ValidateModel())
            {
                await OnValidSubmit.InvokeAsync(_model);
            }
        }
        else
        {
            var errors = context.GetValidationMessages();
            var errorMessage = string.Join(", ", errors);
            await OnValidationFailed.InvokeAsync(errorMessage);
        }
    }

    private async Task<bool> ValidateModel()
    {
        if (!string.IsNullOrWhiteSpace(_model?.Value)) return true;
        
        await OnValidationFailed.InvokeAsync("Value is required");

        return false;
    }
}
