@import "tailwindcss";

@import "../src/modules/smartadmin/smartadmin.css";
@import "../src/modules/smartadmin/account-menu.css";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
